<div class="col-lg-12 text-center">
  <p><%= link_to "Home", root_path %></p>
  <h1><%= @cocktail.name %></h1>
  <%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
  <%= link_to 'Delete', @cocktail, method: :delete %> |

  <% @cocktail.doses.each do |dose| %>

<p><%= dose.description %> <%= dose.ingredient.name %></p>

<% end %>
  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %>



</div>



