<h1>Add a new ingredient to <%= @cocktail.name %></h1>

<%= link_to "Back to cocktail", cocktail_path(@cocktail) %>

<%= simple_form_for(@dose, url: cocktail_doses_path(@cocktail)) do |f| %>
  <%#= f.error_notication %>

  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.submit %>
<% end %>
